<div>
  <form action="./api/products" method="post">
    <h2>Carga tu producto aqui:</h2>
    <label for="title">Titulo:</label>
    <input type="text" id="title" name="title" /><br /><br />
    <label for="price">Precio:</label>
    <input type="text" id="precio" name="precio" /><br /><br />
    <label for="thumbnail">Imagen (URL):</label>
    <input type="text" id="thumbnail" name="thumbnail" /><br /><br />
    <input type="submit" value="Enviar" />
  </form>
</div>